<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Category Edit</title>
</head>
<body>
<form th:action="@{/admin/save-category}" th:object="${category}" method="post">
    <input type="hidden" th:field="*{id}" th:value="*{id}">
    <table>
        <tbody>
        <tr>
            <th><label for="title">Title</label></th>
            <th><input type="text" th:field="*{title}" id="title"></th>
            <th><span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span></th>
        </tr>
        <tr>
            <th><label for="description">Description</label></th>
            <th><input type="text" th:field="*{description}" id="description"></th>
            <th><span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span></th>
        </tr>
        </tbody>
    </table>
    <br>
    <input type="submit" value="Confirm Update">
</form>
<h2><a th:href="@{/logout}"> Logout </a></h2>
</body>
</html>