<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin profile</title>

</head>
<body>
<h1>Admin Profile</h1>
<hr>
<br>
<h4><a th:href="@{/admin/articles}"> Articles </a></h4>

<h4><a th:href="@{/admin/users}"> Users </a></h4>

<h4><a th:href="@{/admin/categories}"> Categories </a></h4>

<h4><a th:href="@{/admin/tags}"> Tags </a></h4>

<h4><a th:href="@{/admin/roles}"> Roles </a></h4>

<h4><a th:href="@{/home}">Home </a></h4>

<h4><a th:href="@{/logout}"> Logout </a></h4>
</body>
</html>