<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="stylesheet" th:href="@{/table-test.css}">
</head>
<body>
<div th:switch="${roles}">
    <h2 th:case="null">No Roles yet!</h2>
    <div th:case="*">
        <h1>Roles</h1>
        <table class="container">
            <thead>
            <tr>
                <th><h1>No</h1></th>
                <th><h1>Title</h1></th>
                <th><h1>Edit</h1></th>
                <th><h1>Delete</h1></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="role, iterstat : ${roles}">
                <td th:text="${iterstat.count}"></td>
                <td th:text="${role.title}"></td>
                <td><a th:href="@{/admin/edit-role(id=${role.getId()})}">edit</a></td>
                <td><a th:href="@{/admin/delete-role(id=${role.getId()})}">delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<h2><a th:href="@{/admin/insert-role}"> Add Role </a></h2>
<p><a th:href="@{/admin/profile}" style="color: #4DC3FA"> Profile </a></p>
</body>
</html>