<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form th:action="@{/user/update-article}" th:object="${userArticle}" method="post">
    <input type="hidden" name="id" th:value="*{id}">
    <input type="hidden" name="user" th:value="*{user.getId()}">
    <input type="hidden" name="publishDate" th:value="*{publishDate}">
    <input type="hidden" name="createDate" th:value="*{createDate}">

    <input type="hidden" name="pre-publish" th:value="*{isPublished}">
    <table>
        <tbody>
        <tr>
            <th><label for="title">Title</label></th>
            <th><input type="text" th:field="*{title}" id="title" placeholder="title"></th>
            <th><span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span></th>
        </tr>
        <tr>
            <th><label for="brief">Brief</label></th>
            <th><input type="text" th:field="*{brief}" id="brief" placeholder="brief"></th>
            <th><span th:if="${#fields.hasErrors('brief')}" th:errors="*{brief}"></span></th>
        </tr>
        <tr>
            <th><label for="content"> Content </label></th>
            <th><input type="text" th:field="*{content}" id="content"></th>
            <th><span th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></span></th>
        </tr>

        <tr>
            <th><label for="category"> Category </label></th>
            <th>
                <select th:field="*{category}">
                    <option th:each="cat : ${categoryList}" th:value="${cat.id}" th:text="${cat.title}"
                            id="category"></option>
                </select>
            </th>
            <th><span th:if="${#fields.hasErrors('category')}" th:errors="*{category}"></span></th>
        </tr>
        <div th:switch="${userArticle.getIsPublished()}">
            <input th:case="true" type="hidden" name="isPublished" th:value="*{isPublished}">
            <div th:case="false">
                <tr>
                    <th><label th:for="is-pub"> Publishment Status: </label></th>
                    <th>
                        publish: <input type="radio" th:value="true" th:field="*{isPublished}" th:id="is-pub">
                        not published:<input type="radio" th:value="false" th:field="*{isPublished}" th:id="is-pub">
                    </th>
                    <th><span th:if="${#fields.hasErrors('isPublished')}" th:errors="*{isPublished}"></span></th>
                </tr>
                <tr><th>Tags:</th><th></th><th></th></tr>
                <tr th:each="tag:${tags}">
                    <th><label th:for="${tag.title}" th:text="${tag.title}"></label></th>
                    <th>
                        <input type="checkbox" th:field="*{tags}" th:value="${tag.id}" th:id="${tag.title}"></input>
                    </th>
                    <th><span th:if="${#fields.hasErrors('category')}" th:errors="*{category}"></span></th>
                </tr>
            </div>
        </div>
        </tbody>
    </table>
    <br>
    <input type="submit" value="Confirm Update">
</form>
<h2><a th:href="@{/logout}"> Logout </a></h2>
</body>
</html>